* {
    user-select: none;
}
body{
    background-image: url("images/breaking-bad-motorhome-rv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: breakingFont;
    src: url(breaking_bad/heart_breaking_bad.otf);
}
@font-face {
    font-family: smoke;
    src: url(breaking_bad/nice_dream_come_true.ttf);
} 
.header{
    height: 15%;
    width: 100%;
}
.title{
    position: absolute;
    font-family: breakingFont;
    font-size: 115px;
    text-align: center;
    color: blue;
    margin: 0;
    width: 45%;
    height: 15%;
    left: 30%;
    background: rgba(0,0,0,.1);
}
.win{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 12%;
    left: 30%;
    font-family: breakingFont;
    text-align: center;
    font-size: 225px;
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{     color: blue;    }
    49%{    color: transparent; }
    50%{    color: blue; }
    99%{    color: transparent;  }
    100%{   color: blue;    }
}
.gameContent{
    width: 100%;
    height: 85%;
    text-align: center;
}
.statsContainer{
    position: relative;
    top: 5%;
    width: 22%;
    height: 94%;
    font-family: smoke;
    color: silver;
    text-shadow: 2px 2px 5px blue;
    font-weight: bold;
    font-size: 33px;
    text-align: left;
    background: rgba(0,0,0,.2);
    border-radius: 8px;
}
.statsContainer div {
    padding-top: 5%;
    text-align: center;
}
.label{
    list-style-type: none;
}
.value{
    list-style-type: none;
}
.resetButton{
    position: absolute;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 75%;
    height: 10%;
    left: 10%;
    line-height: 25px;
    border-radius: 25px;
}
#game-area{
    position: absolute;
    width: 70%;
    height: 83%;
    top: 15%;
    right: 8%;
}
.card *{
    border-radius: 25px;
}
.card{
    width: 12.6%;
    height: 30%;
    position: relative;
    display: inline-block;
    margin: 10px;
 } 
.front{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.back{ 
    background-image: url("images/season_1_poster.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.frontImage{
    width: 100%;
    height: 100%;
}
.back.hide{
    display: none;
}
.card:hover{
    box-shadow: 0 0 20px 5px deepskyblue;
    border-radius: 25px;
}
.box{
    background-image: url("images/modalbackground.png");
    position: relative;
    width: 70%;
    height: 75%;
    margin: auto;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
    top: 15%;
}
audio{
    display: none;
}
.box h1{
    position: absolute;
    font-family: breakingFont;
    font-size: 105px;
    color: yellow; 
    text-align: center;
    left: 3%;
    top: 8%;
}
input{
    width: 20%;
    height: 30%;
    position: absolute;
    left: 40%;
    top: 60%;
}
canvas{
    position: absolute;
    width: 100%; 
    height: 150%;
    bottom: 0px; 
    left: 0px;
}
.video{
    width: 90%;
    height: 95%;
    margin: 0 5%;
    text-align: center;
}
.playAgain{
    position: absolute;
    background-color: orange;
    border-radius: 50%;
    color: red;
    padding: 45px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    top: 58%;
    left: 40%;
}
.playAgain.hideElement, .hideElement {
    display: none;
} 
@media only screen and (max-width: 600px){
    .box{
        background-image: url("images/modalbackground.png");
        position: relative;
        width: 80%;
        height: 60%;
        margin: auto;
        box-shadow: 0 10px 10px rgba(0,0,0,.5);
        top: 15%;
    }
    .box h1{
        position: absolute;
        font-family: breakingFont;
        font-size: 35px;
        color: yellow; 
        text-align: center;
        left: 3%;
    }
    input{
        width: 20%;
        height: 30%;
        position: absolute;
        left: 40%;
        top: 50%;
    }
    .title{
        position: absolute;
        font-family: breakingFont;
        font-size: 55px;
        text-align: center;
        color: blue;
        margin: 0;
        width: 75%;
        height: 9%;
        top: 5%;
        left: 12%;
        background: rgba(0,0,0,.1);
    }
    #game-area{
        position: absolute;
        width: 100%;
        height: 50%;
        top: 25%;
        right: 0%;
    }
    .card{
        width: 11%;
        height: 27%;
        position: relative;
        display: inline-block;
        margin: 8px;
     } 
    .statsContainer{
        position: relative;
        top: 70%;
        width: 100%;
        height: 25%;
        font-family: smoke;
        color: silver;
        text-shadow: 2px 2px 5px blue;
        font-weight: bold;
        font-size: 10px;
        text-align: left;
        background: rgba(0,0,0,.2);
        border-radius: 8px;
    }
    ul{
        display: inline;
        float: left;
    }
    .resetButton{
        position: absolute;
        background-color: dodgerblue;
        color: white;
        text-align: center;
        font-size: 14px;
        width: 30%;
        height: 30%;
        left: 35%;
        bottom: 5%;
        line-height: 25px;
        border-radius: 25px;
    }
    .win{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 35%;
        left: 20%;
        font-family: breakingFont;
        text-align: center;
        font-size: 75px;
        animation:blinkingText 1s infinite;
    }
    .playAgain{
        position: absolute;
        background-color: orange;
        border-radius: 50%;
        color: red;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        top: 55%;
        left: 30%;
    }
}
@media only screen and (orientation: landscape) and (max-width: 900px) {
    .box{
        background-image: url("images/modalbackground.png");
        position: relative;
        width: 50%;
        height: 80%;
        margin: auto;
        box-shadow: 0 10px 10px rgba(0,0,0,.5);
        top: 10%;
    }
    input{
        width: 20%;
        height: 30%;
        position: absolute;
        left: 40%;
        top: 65%;
    }
    .box h1{
        position: absolute;
        font-family: breakingFont;
        font-size: 39px;
        color: yellow; 
        text-align: center;
        left: 4%;
        bottom: 55%;
    }
    .title{
        position: absolute;
        font-family: breakingFont;
        font-size: 70px;
        text-align: center;
        color: blue;
        margin: 0;
        width: 50%;
        height: 17%;
        left: 25%;
        background: rgba(0,0,0,.1);
    }
    .statsContainer{
        position: relative;
        top: 5%;
        width: 21%;
        height: 86%;
        font-family: smoke;
        color: silver;
        text-shadow: 2px 2px 5px blue;
        font-weight: bold;
        font-size: 15px;
        text-align: left;
        background: rgba(0,0,0,.2);
        border-radius: 8px;
    }
    .resetButton{
        position: absolute;
        background-color: dodgerblue;
        color: white;
        text-align: center;
        font-size: 12px;
        width: 65%;
        height: 10%;
        left: 18%;
        line-height: 25px;
        border-radius: 25px;
    }
    #game-area{
        position: absolute;
        width: 66%;
        height: 83%;
        top: 17%;
        right: 12%;
    }
    .card{
        width: 11.33%;
        height: 28%;
        position: relative;
        display: inline-block;
        margin: 8px;
     }
     .win{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 15%;
        left: 23%;
        font-family: breakingFont;
        text-align: center;
        font-size: 158px;
        animation:blinkingText 1s infinite;
    }
    .playAgain{
        position: absolute;
        background-color: orange;
        border-radius: 50%;
        color: red;
        padding: 35px 85px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        top: 65%;
        left: 34%;
    }
}